/* https://codepen.io/matmarsiglio/pen/HLIor */
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.note {
  position: relative;
  text-align: center;
}
textarea {
  border: none;
  outline: none;
  resize: none;
  height: 100px;
  width: 300px;
}
#imageMountain {
  text-align: center;
}
#whiteSquare {
  width: 350px;
  height: 240px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Button Styling */
.btn {
  border: none;
  background-color: rgb(65, 174, 236);
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Span Text Styling */
#custom-space {
  color: rgba(245, 245, 245, 0.678);
  margin-left: 2%;
}

/* Container Styling */
.container {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
/* Image Preview Styling */
.preview_holder {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 300px;
  border: dotted;
}
.preview_img {
  display: none;
  width: 100%;
  object-fit: cover;
}

/* Input email */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
  font-family: "Lato", sans-serif;
  background: #e2dedb;
  color: #b3aca7;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 100px auto 100px auto;
}
a {
  font-size: 3em;
  text-decoration: none;
  display: inline-block;
  padding: 50px 100px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4caf50;
  color: white;
}

.round {
  border-radius: 50%;
}
